# Data Cleaning 


###### The training dataset is comprised from 2 sources: Umweltbundesamt and LANUV website. The one from UBA consists of concentrations measurements, the one from LANUV also contains concentrations measurements, with the addition of meteorological features. 
###### The Precipitation ( rain fall) features is obtained from the Python package wetterdienst.
######  Since the training range was slowly adapted and not determined initally, the data was obtained in year, hence the package 2022, 2023, 2024.

In [2]:
# import all the necessary libraries

# typical data processing libraries
import numpy as np
import pandas as pd
# libraries for plotting

import matplotlib.pyplot as plt
import seaborn as sns

### Handling UBA data( concentrations dataset)

In [12]:
# load the data
#2022

chor_2022 = pd.read_csv('Data/2022/Chorweiler_2022-01-01_00-2023-01-02_00.csv',sep= ';')
cle_2022 =pd.read_csv('Data/2022/Clevischer-Ring_2022-01-01_00-2023-01-02_00.csv',sep= ';')
turi_2022 =pd.read_csv('Data/2022/Turiner-Strasse_2022-01-01_00-2023-01-02_00.csv',sep= ';')
rod_2022 = pd.read_csv('Data/2022/Turiner-Strasse_2022-01-01_00-2023-01-02_00.csv',sep= ';')

#2023 
chor_2023_1st_half = pd.read_csv('Data/2023/Koeln-Chorweiler_2023-01-01_00-2023-06-01_23.csv',sep= ';')
cle_2023_1st_half = pd.read_csv('Data/2023/Koeln-Clevischer-Ring_2023-01-01_00-2023-06-01_23.csv',sep= ';')
rod_2023_1st_half = pd.read_csv('Data/2023/Koeln-Rodenkirchen_2023-01-01_00-2023-06-01_23.csv',sep= ';')
turi_2023_1st_half = pd.read_csv('Data/2023/Luftqualitaet_DENW212_Koeln-Turiner-Strasse_2023-01-01_00-2023-06-01_23.csv',sep= ';')

chor_2023 = pd.read_csv('Data/2023/Luftqualitaet_DENW053_Koeln-Chorweiler_2023-05-31_23-2024-01-01_00.csv',sep= ';')
cle_2023 = pd.read_csv('Data/2023/Luftqualitaet_DENW211_Koeln-Clevischer-Ring_2023-05-31_23-2024-01-01_00.csv',sep= ';')
turi_2023 = pd.read_csv('Data/2023/Luftqualitaet_DENW212_Koeln-Turiner-Strasse_2023-05-31_23-2024-01-01_00.csv',sep= ';')
rod_2023 = pd.read_csv('Data/2023/Luftqualitaet_DENW059_Koeln-Rodenkirchen_2023-05-31_23-2024-01-01_00.csv',sep= ';')

#2024
chor_2024 = pd.read_csv('Data/2024/Luftqualitaet_DENW053_Koeln-Chorweiler_2024-01-01_00-2024-03-31_23.csv',sep= ';')
cle_2024 = pd.read_csv('Data/2024/Luftqualitaet_DENW211_Koeln-Clevischer-Ring_2024-01-01_00-2024-03-31_23.csv',sep= ';')
turi_2024 = pd.read_csv('Data/2024/Luftqualitaet_DENW212_Koeln-Turiner-Strasse_2024-01-01_00-2024-03-31_23.csv',sep= ';')
rod_2024 = pd.read_csv('Data/2024/Luftqualitaet_DENW059_Koeln-Rodenkirchen_2024-01-01_00-2024-03-31_23.csv',sep= ';')

In [14]:
# functions to reformat the datetime

def reformat_date(df):
    df['Datum'] = df['Datum'].str.replace('24:00', '00:00')
    df['Datum'] = df['Datum'].str.strip("'")
    df['Datum'] = pd.to_datetime(df['Datum'], format='%d.%m.%Y %H:%M')
    df.loc[df['Datum'].dt.hour == 0, 'Datum'] += pd.Timedelta(days=1)
    
    return df

In [15]:
chor_2022 = reformat_date(chor_2022)

In [17]:
cle_2022 = reformat_date(cle_2022)
turi_2022 = reformat_date(turi_2022)
rod_2022 = reformat_date(rod_2022)

chor_2023_1st_half = reformat_date(chor_2023_1st_half)
cle_2023_1st_half = reformat_date(cle_2023_1st_half)
rod_2023_1st_half = reformat_date(rod_2023_1st_half)
turi_2023_1st_half = reformat_date(turi_2023_1st_half)

chor_2023 = reformat_date(chor_2023)
cle_2023 = reformat_date(cle_2023)
turi_2023 = reformat_date(turi_2023)
rod_2023 = reformat_date(rod_2023)

chor_2024 = reformat_date(chor_2024)
cle_2024 = reformat_date(cle_2024)
turi_2024 = reformat_date(turi_2024)
rod_2024 = reformat_date(rod_2024)

In [19]:
def change_variable_name(df):
    df.columns= ['Stationscode', 'Date', 'PM_10', 'O3',
                           'NO2','PM_2.5', 'AQI']
    
    return df

In [20]:
def reformat_numeric_values(df):
    if 'PM_10' in df.columns:
        df['PM_10'] = df['PM_10'].replace('-', np.nan)
        df['PM_10'] = pd.to_numeric(df['PM_10'])
    if 'PM_2.5' in df.columns:
        df['PM_2.5'] = df['PM_2.5'].replace('-', np.nan)
        df['PM_2.5'] = pd.to_numeric(df['PM_2.5'])
    if 'NO2' in df.columns:
        df['NO2'] = df['NO2'].replace('-', np.nan)
        df['NO2'] = pd.to_numeric(df['NO2'])
        
    if 'O3' in df.columns:
        df['O3'] = df['O3'].replace('-', np.nan)
        df['O3'] = pd.to_numeric(df['O3'])
    
    return df

In [21]:
chor_2022 = change_variable_name(chor_2022)
cle_2022 = change_variable_name(cle_2022)
turi_2022 = change_variable_name(turi_2022)
rod_2022 = change_variable_name(rod_2022)

chor_2023_1st_half = change_variable_name(chor_2023_1st_half)
cle_2023_1st_half = change_variable_name(cle_2023_1st_half)
rod_2023_1st_half = change_variable_name(rod_2023_1st_half)
turi_2023_1st_half = change_variable_name(turi_2023_1st_half)

chor_2023 = change_variable_name(chor_2023)
cle_2023 = change_variable_name(cle_2023)
turi_2023 = change_variable_name(turi_2023)
rod_2023 = change_variable_name(rod_2023)

chor_2024 = change_variable_name(chor_2024)
cle_2024 = change_variable_name(cle_2024)
turi_2024 = change_variable_name(turi_2024)
rod_2024 = change_variable_name(rod_2024)

chor_2022 = reformat_numeric_values(chor_2022)
cle_2022 = reformat_numeric_values(cle_2022)
turi_2022 = reformat_numeric_values(turi_2022)
rod_2022 = reformat_numeric_values(rod_2022)

chor_2023_1st_half = reformat_numeric_values(chor_2023_1st_half)
cle_2023_1st_half = reformat_numeric_values(cle_2023_1st_half)
rod_2023_1st_half = reformat_numeric_values(rod_2023_1st_half)
turi_2023_1st_half = reformat_numeric_values(turi_2023_1st_half)

chor_2023 = reformat_numeric_values(chor_2023)
cle_2023 = reformat_numeric_values(cle_2023)
turi_2023 = reformat_numeric_values(turi_2023)
rod_2023 = reformat_numeric_values(rod_2023)    


chor_2024 = reformat_numeric_values(chor_2024)
cle_2024 = reformat_numeric_values(cle_2024)
turi_2024 = reformat_numeric_values(turi_2024)
rod_2024 = reformat_numeric_values(rod_2024)

C:\Users\riven\AppData\Local\Temp\ipykernel_15940\1530242792.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['PM_2.5'] = df['PM_2.5'].replace('-', np.nan)
C:\Users\riven\AppData\Local\Temp\ipykernel_15940\1530242792.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['O3'] = df['O3'].replace('-', np.nan)

     Stationscode                Date  PM_10  O3   NO2  PM_2.5       AQI
5133      DENW211 2023-12-31 21:00:00    6.0 NaN  11.0     4.0  sehr gut
5134      DENW211 2023-12-31 22:00:00    6.0 NaN  11.0     4.0  sehr gut
5135      DENW211 2023-12-31 23:00:00    6.0 NaN  12.0     4.0  sehr gut
5136      DENW211 2024-01-01 00:00:00    6.0 NaN  14.0     4.0  sehr gut
5137      DENW211 2024-01-01 01:00:00   13.0 NaN   NaN    10.0  sehr gut

In [29]:
# drop the columns that are with all missing values
chor_2022 = chor_2022.dropna(axis=1, how='all')
chor_2023_1st_half = chor_2023_1st_half.dropna(axis=1, how='all')
chor_2023 = chor_2023.dropna(axis=1, how='all')
chor_2024 = chor_2024.dropna(axis=1, how='all')

cle_2022 = cle_2022.dropna(axis=1, how='all')
cle_2023_1st_half = cle_2023_1st_half.dropna(axis=1, how='all')
cle_2023 = cle_2023.dropna(axis=1, how='all')
cle_2024 = cle_2024.dropna(axis=1, how='all')

turi_2022 = turi_2022.dropna(axis=1, how='all')
turi_2023_1st_half = turi_2023_1st_half.dropna(axis=1, how='all')
turi_2023 = turi_2023.dropna(axis=1, how='all')
turi_2024 = turi_2024.dropna(axis=1, how='all')

rod_2022 = rod_2022.dropna(axis=1, how='all')
rod_2023_1st_half = rod_2023_1st_half.dropna(axis=1, how='all')
rod_2023 = rod_2023.dropna(axis=1, how='all')
rod_2024 = rod_2024.dropna(axis=1, how='all')

#drop the last row( the tag UBA is not needed)

chor_2022 = chor_2022.iloc[:-1]
chor_2023_1st_half = chor_2023_1st_half.iloc[:-1]
chor_2024 = chor_2024.iloc[:-1]

cle_2022 = cle_2022.iloc[:-1]
cle_2023_1st_half = cle_2023_1st_half.iloc[:-1]
cle_2024 = cle_2024.iloc[:-1]

turi_2022 = turi_2022.iloc[:-1]
turi_2023_1st_half = turi_2023_1st_half.iloc[:-1]
turi_2024 = turi_2024.iloc[:-1]

### Handling data from LANUV website

###### The data from LANUV comes in 2 time intervals: last 365 days and archived data from the measuring start until December 2022. The data for first half of 2023 is missing

###### The meteorological data for this time interval is replaced by the data obtained from wetterdienst, from the station Stammheim.

In [50]:
# load the data for the weather

chor_2022_weather = pd.read_csv('Data/2022/OpenKontiLUQS_CHOR_vorjahre_validiert.csv', sep=';')
cle_2022_weather = pd.read_csv('Data/2022/OpenKontiLUQS_VKCL_vorjahre_validiert.csv', sep=';')
turi_2022_weather = pd.read_csv('Data/2022/OpenKontiLUQS_VKTU_vorjahre_validiert.csv', sep=';')
rod_2022_weather = pd.read_csv('Data/2022/OpenKontiLUQS_RODE_vorjahre_validiert.csv', sep=';')


#last half of 2023 and 2024
chor_2324_weather = pd.read_csv('Data/2024/CHOR.csv', sep=';')
cle_2324_weather = pd.read_csv('Data/2024/VKCL.csv', sep=';')
turi_2324_weather = pd.read_csv('Data/2024/VKCL.csv', sep=';')
rod_2324_weather = pd.read_csv('Data/2024/RODE.csv', sep=';')


#weather for the first half of 2023
chor_2023_1st_half_weather = pd.read_csv('Data/2023/weather_2023_1st_half.csv', sep=';')

C:\Users\riven\AppData\Local\Temp\ipykernel_15940\3549922146.py:3: DtypeWarning: Columns (2,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  chor_2022_weather = pd.read_csv('Data/2022/OpenKontiLUQS_CHOR_vorjahre_validiert.csv', sep=';')
C:\Users\riven\AppData\Local\Temp\ipykernel_15940\3549922146.py:6: DtypeWarning: Columns (2,6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  rod_2022_weather = pd.read_csv('Data/2022/OpenKontiLUQS_RODE_vorjahre_validiert.csv', sep=';')

In [51]:
chor_2022_weather = chor_2022_weather[chor_2022_weather.index > 331990]
cle_2022_weather = cle_2022_weather[cle_2022_weather.index > 131495]
rod_2022_weather = rod_2022_weather[rod_2022_weather.index > 359399]
turi_2022_weather = turi_2022_weather[turi_2022_weather.index > 131495]

In [52]:
def reformate_timestamp(df):
    df['Zeit'] = df['Zeit'].str.replace('24:00:00', '00:00')
    df['Zeit']= df['Zeit'].str.replace('24:00', '00:00')
    df['Zeit'] = pd.to_datetime(df['Zeit'], format='%H:%M')
    df['Datum'] = pd.to_datetime(df['Datum'], format='%d.%m.%Y')
    df['Zeit'] = pd.to_timedelta(df['Zeit'].dt.strftime('%H:%M:%S'))
    df['timestamp'] = df['Datum'] + df['Zeit']
    
    df.loc[df['timestamp'].dt.hour == 0, 'timestamp'] += pd.Timedelta(days=1)
    
    df.drop(['Datum', 'Zeit'], axis=1, inplace=True)
    
    return df

In [53]:
chor_2022_weather = reformate_timestamp(chor_2022_weather)
cle_2022_weather = reformate_timestamp(cle_2022_weather)
rod_2022_weather = reformate_timestamp(rod_2022_weather)
turi_2022_weather = reformate_timestamp(turi_2022_weather)

chor_2324_weather = reformate_timestamp(chor_2324_weather)
cle_2324_weather = reformate_timestamp(cle_2324_weather)
rod_2324_weather = reformate_timestamp(rod_2324_weather)
turi_2324_weather = reformate_timestamp(turi_2324_weather)

In [54]:
end_2023 = pd.to_datetime('2023-12-01-31 23:00:00')
begin_2023 = pd.to_datetime('2023-06-01 00:00:00')
first_quarter_2024 = pd.to_datetime('2024-03-31 23:00:00')

chor_2023_weather = chor_2324_weather[(chor_2324_weather['timestamp'] <= end_2023)& (chor_2324_weather['timestamp'] >= begin_2023)]

cle_2023_weather = cle_2324_weather[(cle_2324_weather['timestamp'] <= end_2023)& (cle_2324_weather['timestamp'] >= begin_2023)]
rod_2023_weather = rod_2324_weather[(rod_2324_weather['timestamp'] <= end_2023)& (rod_2324_weather['timestamp'] >= begin_2023)]
turi_2023_weather = turi_2324_weather[(turi_2324_weather['timestamp'] <= end_2023)& (turi_2324_weather['timestamp'] >= begin_2023)]


chor_2024_weather = chor_2324_weather[(chor_2324_weather['timestamp'] > end_2023)& (chor_2324_weather['timestamp'] <= first_quarter_2024)]
cle_2024_weather = cle_2324_weather[(cle_2324_weather['timestamp'] > end_2023)& (cle_2324_weather['timestamp'] <= first_quarter_2024)]
rod_2024_weather = rod_2324_weather[(rod_2324_weather['timestamp'] > end_2023)& (rod_2324_weather['timestamp'] <= first_quarter_2024)]
turi_2024_weather = turi_2324_weather[(turi_2324_weather['timestamp'] > end_2023)& (turi_2324_weather['timestamp'] <= first_quarter_2024)]

In [55]:
def reformat_numeric_values_weather(df):
    for column in df.columns:
        if column != 'timestamp':
            df[column] = df[column].replace('<', '', regex=True)
            df[column] = pd.to_numeric(df[column].replace(',', '.', regex=True), errors='coerce')
    return df

In [56]:
chor_2022_weather = reformat_numeric_values_weather(chor_2022_weather)
cle_2022_weather = reformat_numeric_values_weather(cle_2022_weather)
rod_2022_weather = reformat_numeric_values_weather(rod_2022_weather)
turi_2022_weather = reformat_numeric_values_weather(turi_2022_weather)

chor_2023_weather = reformat_numeric_values_weather(chor_2023_weather)
cle_2023_weather = reformat_numeric_values_weather(cle_2023_weather)
rod_2023_weather = reformat_numeric_values_weather(rod_2023_weather)
turi_2023_weather = reformat_numeric_values_weather(turi_2023_weather)

chor_2024_weather = reformat_numeric_values_weather(chor_2024_weather)
cle_2024_weather = reformat_numeric_values_weather(cle_2024_weather)
rod_2024_weather = reformat_numeric_values_weather(rod_2024_weather)
turi_2024_weather = reformat_numeric_values_weather(turi_2024_weather)

C:\Users\riven\AppData\Local\Temp\ipykernel_15940\269016354.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[column] = df[column].replace('<', '', regex=True)
C:\Users\riven\AppData\Local\Temp\ipykernel_15940\269016354.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].replace('<', '', regex=True)
C:\Users\riven\AppData\Local\Temp\ipykernel_15940\269016354.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = pd.to_numeric(df[column].replace(',', '.', regex=True), errors='coerce')

In [59]:
chor_2023_1st_half_weather = pd.read_csv('Data/2023/weather_2023_1st_half.csv', sep=',')

In [67]:
chor_2023_weather.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4416 entries, 575 to 4990
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   F[%]        4351 non-null   float64
 1   NO[g/m]     4182 non-null   float64
 2   NO2[g/m]    4182 non-null   float64
 3   O3[g/m]     4174 non-null   float64
 4   PM10F[g/m]  4328 non-null   float64
 5   T[°C]       4351 non-null   float64
 6   WG [m/s]    4334 non-null   float64
 7   WR          4101 non-null   float64
 8   timestamp   4416 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(8)
memory usage: 345.0 KB

In [69]:
chor_2022_weather.columns =['Humidity', 'NO','NO2','O3','PM_10','SO2','Temperature','Windspeed','WindDirection','timestamp']
cle_2022_weather.columns =['Humidity', 'NO','NO2','PM_10','Temperature','Windspeed','WindDirection','timestamp']
rod_2022_weather.columns =['Humidity', 'NO','NO2','O3','PM_10','SO2','Temperature','Windspeed','WindDirection','timestamp']
turi_2022_weather.columns =['Humidity', 'NO','NO2','PM_10','Temperature','Windspeed','WindDirection','timestamp']

chor_2023_weather.columns =['Humidity', 'NO','NO2','O3','PM_10','Temperature','Windspeed','WindDirection','timestamp']
cle_2023_weather.columns =['Humidity', 'NO','NO2','PM_10','Temperature','Windspeed','WindDirection','timestamp']
rod_2023_weather.columns =['Humidity', 'NO','NO2','O3','PM_10','Temperature','Windspeed','WindDirection','timestamp']
turi_2023_weather.columns =['Humidity', 'NO','NO2','PM_10','Temperature','Windspeed','WindDirection','timestamp']

chor_2024_weather.columns =['Humidity', 'NO','NO2','O3','PM_10','Temperature','Windspeed','WindDirection','timestamp']
cle_2024_weather.columns =['Humidity', 'NO','NO2','PM_10','Temperature','Windspeed','WindDirection','timestamp']
rod_2024_weather.columns =['Humidity', 'NO','NO2','O3','PM_10','Temperature','Windspeed','WindDirection','timestamp']
turi_2024_weather.columns =['Humidity', 'NO','NO2','PM_10','Temperature','Windspeed','WindDirection','timestamp']

In [72]:
chor_2023_1st_half_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           3649 non-null   object
 1   F[%]           3649 non-null   float64
 2   Precipitation  3649 non-null   float64
 3   T[°C]          3649 non-null   float64
 4   WR             3648 non-null   float64
 5   WG[m/s]        3648 non-null   float64
dtypes: float64(5), object(1)
memory usage: 171.2+ KB

In [75]:
chor_2023_1st_half_weather.columns = ['timestamp', 'Humidity', 'Precipitation', 'Temperature', 'WindDirection', 'Windspeed']

In [89]:
# load rain data
rain_2024 = pd.read_csv('Data/2024/precipitation_q1_2024.csv')
rain_2023 = pd.read_csv('Data/2023/precipitation_2023.csv')
rain_2022 = pd.read_csv('Data/2022/rain_2022.csv')

In [91]:
#merge rain data to weather data

rain_2024['date'] = pd.to_datetime(rain_2024['date'], format='%Y-%m-%d %H:%M:%S+00:00')
rain_2023['date'] = pd.to_datetime(rain_2023['date'], format='%Y-%m-%d %H:%M:%S+00:00')
rain_2022['date'] = pd.to_datetime(rain_2022['date'])

In [93]:
rain_2024 = rain_2024[['date', 'value']]
rain_2023 = rain_2023[['date', 'value']]

rain_2024.columns = ['timestamp', 'Precipitation']
rain_2023.columns = ['timestamp', 'Precipitation']
rain_2022.columns = ['timestamp', 'Precipitation']

In [94]:
#merge the rain data to the weather data
chor_2024_weather = pd.merge(chor_2024_weather, rain_2024, on='timestamp', how='left')
cle_2024_weather = pd.merge(cle_2024_weather, rain_2024, on='timestamp', how='left')
turi_2024_weather = pd.merge(turi_2024_weather, rain_2024, on='timestamp', how='left')
rod_2024_weather = pd.merge(rod_2024_weather, rain_2024, on='timestamp', how='left')

chor_2023_weather = pd.merge(chor_2023_weather, rain_2023, on='timestamp', how='left')
cle_2023_weather = pd.merge(cle_2023_weather, rain_2023, on='timestamp', how='left')
turi_2023_weather = pd.merge(turi_2023_weather, rain_2023, on='timestamp', how='left')
rod_2023_weather = pd.merge(rod_2023_weather, rain_2023, on='timestamp', how='left')

chor_2022_weather = pd.merge(chor_2022_weather, rain_2022, on='timestamp', how='left')
cle_2022_weather = pd.merge(cle_2022_weather, rain_2022, on='timestamp', how='left')
turi_2022_weather = pd.merge(turi_2022_weather, rain_2022, on='timestamp', how='left')
rod_2022_weather = pd.merge(rod_2022_weather, rain_2022, on='timestamp', how='left')

In [98]:
chor_2023_1st_half_weather['timestamp'] = pd.to_datetime(chor_2023_1st_half_weather['timestamp'])

In [233]:
chor_2022_merged = pd.merge(chor_2022, chor_2022_weather,left_on='Date',right_on='timestamp',how='left')
cle_2022_merged = pd.merge(cle_2022, cle_2022_weather,left_on='Date',right_on='timestamp',how='left')
turi_2022_merged = pd.merge(turi_2022, turi_2022_weather,left_on='Date',right_on='timestamp',how='left')
rod_2022_merged = pd.merge(rod_2022, rod_2022_weather,left_on='Date',right_on='timestamp',how='left')

chor_2023_1st_half_merged = pd.merge(chor_2023_1st_half, chor_2023_1st_half_weather,left_on='Date',right_on='timestamp',how='left')
cle_2023_1st_half_merged = pd.merge(cle_2023_1st_half, chor_2023_1st_half_weather,left_on='Date',right_on='timestamp',how='left')
turi_2023_1st_half_merged = pd.merge(turi_2023_1st_half, chor_2023_1st_half_weather,left_on='Date',right_on='timestamp',how='left')
rod_2023_1st_half_merged = pd.merge(rod_2023_1st_half, chor_2023_1st_half_weather,left_on='Date',right_on='timestamp',how='left')


chor_2023_merged = pd.merge(chor_2023, chor_2023_weather,left_on='Date',right_on='timestamp',how='left')
cle_2023_merged = pd.merge(cle_2023, cle_2023_weather,left_on='Date',right_on='timestamp',how='left')
turi_2023_merged = pd.merge(turi_2023, turi_2023_weather,left_on='Date',right_on='timestamp',how='left')
rod_2023_merged = pd.merge(rod_2023, rod_2023_weather,left_on='Date',right_on='timestamp',how='left')


chor_2024_merged = pd.merge(chor_2024, chor_2024_weather,left_on='Date',right_on='timestamp',how='left')
cle_2024_merged = pd.merge(cle_2024, cle_2024_weather,left_on='Date',right_on='timestamp',how='left')
turi_2024_merged = pd.merge(turi_2024, turi_2024_weather,left_on='Date',right_on='timestamp',how='left')
rod_2024_merged = pd.merge(rod_2024, rod_2024_weather,left_on='Date',right_on='timestamp',how='left')

In [234]:
#fill nan in PM_10_x with PM_10_y, NO2_x with NO2_y, O3_x with O3_y, 

def fillNaN(df):
    for index, row in df.iterrows():
        if np.isnan(row['PM_10_x']):
            df.at[index, 'PM_10_x'] = row['PM_10_y']
            
        if np.isnan(row['NO2_x']):
            df.at[index, 'NO2_x'] = row['NO2_y']
            
        if 'O3_x' in df.columns:
            if np.isnan(row['O3_x']):
                df.at[index, 'O3_x'] = row['O3_y']
    
    if 'O3_y' in df.columns:
        df.rename(columns={'PM_10_x': 'PM_10', 'NO2_x': 'NO2', 'O3_x': 'O3'}, inplace=True)
        df.drop(['PM_10_y', 'NO2_y', 'O3_y'], axis=1, inplace=True)
    else:
        df.rename(columns={'PM_10_x': 'PM_10', 'NO2_x': 'NO2'}, inplace=True)
        df.drop(['PM_10_y', 'NO2_y'], axis=1, inplace=True)
        
        
    
    return df

In [235]:
chor_2022_merged = fillNaN(chor_2022_merged)
cle_2022_merged = fillNaN(cle_2022_merged)
turi_2022_merged = fillNaN(turi_2022_merged)
rod_2022_merged = fillNaN(rod_2022_merged)

chor_2023_merged = fillNaN(chor_2023_merged)
cle_2023_merged = fillNaN(cle_2023_merged)
turi_2023_merged = fillNaN(turi_2023_merged)
rod_2023_merged = fillNaN(rod_2023_merged)


chor_2024_merged = fillNaN(chor_2024_merged)
cle_2024_merged = fillNaN(cle_2024_merged)
turi_2024_merged = fillNaN(turi_2024_merged)
rod_2024_merged = fillNaN(rod_2024_merged)

In [236]:
#drop the timestamp column

chor_2022_merged.drop('timestamp', axis=1, inplace=True)
cle_2022_merged.drop('timestamp', axis=1, inplace=True)
turi_2022_merged.drop('timestamp', axis=1, inplace=True)
rod_2022_merged.drop('timestamp', axis=1, inplace=True)


chor_2023_1st_half_merged.drop('timestamp', axis=1, inplace=True)
cle_2023_1st_half_merged.drop('timestamp', axis=1, inplace=True)
turi_2023_1st_half_merged.drop('timestamp', axis=1, inplace=True)
rod_2023_1st_half_merged.drop('timestamp', axis=1, inplace=True)

chor_2023_merged.drop('timestamp', axis=1, inplace=True)
cle_2023_merged.drop('timestamp', axis=1, inplace=True)
turi_2023_merged.drop('timestamp', axis=1, inplace=True)
rod_2023_merged.drop('timestamp', axis=1, inplace=True)


chor_2024_merged.drop('timestamp', axis=1, inplace=True)
cle_2024_merged.drop('timestamp', axis=1, inplace=True)
turi_2024_merged.drop('timestamp', axis=1, inplace=True)
rod_2024_merged.drop('timestamp', axis=1, inplace=True)

# drop columns with all nans

chor_2022_merged = chor_2022_merged.dropna(axis=1, how='all')
cle_2022_merged = cle_2022_merged.dropna(axis=1, how='all')
turi_2022_merged = turi_2022_merged.dropna(axis=1, how='all')
rod_2022_merged = rod_2022_merged.dropna(axis=1, how='all')

chor_2023_1st_half_merged = chor_2023_1st_half_merged.dropna(axis=1, how='all')
cle_2023_1st_half_merged = cle_2023_1st_half_merged.dropna(axis=1, how='all')
turi_2023_1st_half_merged = turi_2023_1st_half_merged.dropna(axis=1, how='all')
rod_2023_1st_half_merged = rod_2023_1st_half_merged.dropna(axis=1, how='all')

chor_2023_merged = chor_2023_merged.dropna(axis=1, how='all')
cle_2023_merged = cle_2023_merged.dropna(axis=1, how='all')
turi_2023_merged = turi_2023_merged.dropna(axis=1, how='all')
rod_2023_merged = rod_2023_merged.dropna(axis=1, how='all')

In [237]:
chor_2024_merged = chor_2024_merged.dropna(axis=1, how='all')   
cle_2024_merged = cle_2024_merged.dropna(axis=1, how='all')
turi_2024_merged = turi_2024_merged.dropna(axis=1, how='all')
rod_2024_merged = rod_2024_merged.dropna(axis=1, how='all')

In [238]:
#concatenate the dataframes
chor_training = pd.concat([chor_2022_merged, chor_2023_1st_half_merged, chor_2023_merged, chor_2024_merged], axis=0)
cle_training = pd.concat([cle_2022_merged, cle_2023_1st_half_merged, cle_2023_merged, cle_2024_merged], axis=0)
turi_training = pd.concat([turi_2022_merged, turi_2023_1st_half_merged, turi_2023_merged, turi_2024_merged], axis=0)
rod_training = pd.concat([rod_2022_merged, rod_2023_1st_half_merged, rod_2023_merged, rod_2024_merged], axis=0)

In [239]:
chor_training.dropna(axis=1, how='all', inplace=True)
cle_training.dropna(axis=1, how='all', inplace=True)
turi_training.dropna(axis=1, how='all', inplace=True)
rod_training.dropna(axis=1, how='all', inplace=True)

In [240]:
chor_training.reset_index(drop=True, inplace=True)
cle_training.reset_index(drop=True, inplace=True)
turi_training.reset_index(drop=True, inplace=True)
rod_training.reset_index(drop=True, inplace=True)

In [241]:
# stack the dataframes into one
training_data = pd.concat([chor_training, cle_training, turi_training, rod_training], axis=0)

In [242]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79023 entries, 0 to 19757
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Stationscode   79023 non-null  object
 1   Date           79020 non-null  datetime64[ns]
 2   PM_10          77171 non-null  float64
 3   O3             37850 non-null  float64
 4   NO2            76512 non-null  float64
 5   AQI            78571 non-null  object
 6   Humidity       75497 non-null  float64
 7   NO             58266 non-null  float64
 8   Temperature    75497 non-null  float64
 9   Windspeed      75312 non-null  float64
 10  WindDirection  71980 non-null  float64
 11  Precipitation  75932 non-null  float64
 12  PM_2.5         23617 non-null  float64
dtypes: datetime64[ns](1), float64(10), object(2)
memory usage: 8.4+ MB

In [243]:
pm10 = training_data.drop(columns=['NO', 'NO2', 'O3',  'AQI','PM_2.5' ])
no2 = training_data.drop(columns=['NO', 'PM_10', 'O3',  'AQI','PM_2.5' ])
o3 = training_data.drop(columns=['NO', 'NO2', 'PM_10',  'AQI','PM_2.5' ])

In [245]:
pm10.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79023 entries, 0 to 19757
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Stationscode   79023 non-null  object
 1   Date           79020 non-null  datetime64[ns]
 2   PM_10          77171 non-null  float64
 3   Humidity       75497 non-null  float64
 4   Temperature    75497 non-null  float64
 5   Windspeed      75312 non-null  float64
 6   WindDirection  71980 non-null  float64
 7   Precipitation  75932 non-null  float64
 8   PM_2.5         23617 non-null  float64
dtypes: datetime64[ns](1), float64(7), object(1)
memory usage: 6.0+ MB

In [247]:
# export data
training_data.to_csv('Data/Final datasets/full_training_data.csv', index=False)

pm10.to_csv('Data/Final datasets/pm10_training_data.csv', index=False)
no2.to_csv('Data/Final datasets/no2_training_data.csv', index=False)
o3.to_csv('Data/Final datasets/o3_training_data.csv', index=False)

chor_training.to_csv('Data/Final datasets/chor_training_data.csv', index=False)
cle_training.to_csv('Data/Final datasets/cle_training_data.csv', index=False)
turi_training.to_csv('Data/Final datasets/turi_training_data.csv', index=False)
rod_training.to_csv('Data/Final datasets/rod_training_data.csv', index=False)